<div class="mx-4 my-2 px-4 border ">
    <div class="font-bold flex my-4">
        <p class="h-10 w-10 rounded-full bg-gray-200"></p>
        <p class="mt-4 ml-2"><%= current_user.full_name %></p>
    </div>
    <hr>
    <div class="flex my-2">
        <span class="font-bold">Corrections </span>: 12 Debloqués
    </div>
    <hr>
    <div class="flex my-2">
     <span class="font-bold">Ville</span>: <%= current_user.city_name %>
    </div>
    <hr>
    <div class="flex my-2">
     <span class="font-bold">Ecole</span>: <%= current_user.school_name %>
    </div>
    <hr>
    <div class="flex my-2">
     <span class="font-bold">Niveau</span>: <%= current_user.level_name %>
    </div>
    <hr>
    <div class="flex my-2">
     <span class="font-bold">Abonnement</span>: Fin 2e Trimestre
    </div>


</div>
