<div class="m-2 px-4 border bg-white ">
    <div class="font-bold flex bg-blue-300 h-20 -px-4">
        <p class="h-10 w-10 rounded-full bg-white"></p>
        <p class="mt-4 ml-2"><%= current_user.full_name %></p>
    </div>
    <hr>
    <div class="flex my-2">
        <span class="font-bold">Corrections </span>: 12 Debloqués
    </div>
    <hr>
    <div class="flex my-2">
     <span class="font-semibold">Ville</span>: <%= current_user.city_name %>
    </div>
    <hr>
    <div class="flex my-2">
     <span class="font-semibold">Ecole</span>: <%= current_user.school_name %>
    </div>
    <hr>
    <div class="flex my-2">
     <span class="font-semibold">Niveau</span>: <%= current_user.level_name %>
    </div>
    <hr>
    <div class="flex my-2">
     <span class="font-semibold">Abonnement</span>: Fin 2e Trimestre
    </div>


</div>
